
@font-face {
  font-family: "Inter";
  src: url(../src/fonts/Inter/Inter-Thin.ttf) format('truetype');
}

@font-face {
  font-family: "Inter Light";
  src: url(../src/fonts/Inter/Inter-Light.ttf) format('truetype');
}

@font-face {
  font-family: "Great Vibes";
  src: url(../src/fonts/Great_Vibes/GreatVibes-Regular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

